.bg-image {
  background-image: url('c:\Users\User\Downloads\background.jpg'); 
  background-size: contain;; 
  background-repeat:no-repeat;
  background-position: center; 
  height: 100vh; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh; 
}

button {
  background-color: rgba(0, 0, 0, 0.7); 
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

button:nth-child(odd) {
  align-self: flex-start;
}

button:nth-child(even) {
  align-self: flex-end;


}
