.bg-image {
  background-image: url('https://s3-alpha-sig.figma.com/img/11f9/8149/66417e6f6ab5af1f1a01a4e73fbb5b91?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=on5cnRKvyrTFFVst-eK14q2gMDgWKl3XDbSjGkXPpMfzvO0mahTJoobXPcr4f~~mH2A7rrN1tNVHSTKYxcGPDr8XtqbBSk51PMRLUxeOMJN9LVHdpKcd3BYcMeCkoIQPMXd4gASUME8FxTQXgIvBzMAzuo~r1av13jKJiYLLRKUTVxu8P46p5GxZhA-jlMLYcvNKW-AYE0Sys-Si1DGhPT-D2x0sIXGhpTlB7IC6ex35zj7o4lYiLiKRmjpQx6Q9JoTQHjVPmm-tyRBCknbBW1~bUsM2nodokesXOtb3XHL3MRzrXsqCxvk9EcZOUAzqxmDaATydJ2svMs2VVqJKZA__'); 
  background-size: contain;; 
  background-repeat:no-repeat;
  background-position: center; 
  height: 100vh; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh; 
}

button {
  background-color: rgba(0, 0, 0, 0.7); 
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

buttonOdd {
  align-self: flex-start;
}

buttonEven {
  align-self: flex-end;
}
